* {
  font-family: "Open Sans", sans-serif;
}

input {
  border: none;
  padding: 10px;
  border-radius: 5px;
  width: 100%;
  background-color: #464646;
  color: floralwhite;
}

input:focus {
  outline: none;
  caret-color: white;
}

input::placeholder {
  color: #6a6868;
}

.header {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.backbtn {
  background-color: transparent;
  border: none;
  font-size: 3vw;
  cursor: pointer;
}

h1 {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
