/* layout styling */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

body {
  min-height: 100vh;
  display: grid;
  grid-template-columns: 335px 1fr;
  grid-template-rows: auto 1fr;
  grid-template-areas:
    "navbar navbar"
    "mainbar mainbar"
    "footerBar footerBar";
}

header {
  grid-area: navbar;
  /* background-color: #f0f3f4; */
  background-color: #373737;
  position: sticky;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

.header-link {
  text-decoration: none;
  color: #5d5d5d;
}

main {
  grid-area: mainbar;
}

footer {
  grid-area: footerBar;
  background-color: #373737;
  color: #bdbdbd;
  text-align: center;
  padding: 30px 30px;
}

nav {
  width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  gap: 5px;
  padding: 12px;
}

.title {
  font-size: 2.8rem;
  letter-spacing: 1px;
  cursor: pointer;
  font-weight: 600;
}

.title h1 {
  color: #bdbdbd;
}

.navlinks {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px 0;
  gap: 10px;
}

.display-result {
  width: 50%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  margin-top: 25px;
  gap: 10px;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  margin: auto;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#modal-close {
  cursor: pointer;
  background: #dadada;
  padding: 4px 10px;
  border-radius: 5px;
}

.searched-jobs {
  width: 100%;
  padding: 5px;
  font-weight: 600;
  display: none;
  margin-top: 25px;
}

.job-card {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto auto;
  gap: 10px 20px;
  padding: 15px;
  /* border: 1px solid #ccc; */
  border-radius: 8px;
  /* background-color: #f1f1f1; */
  background-color: #373737;
  margin-bottom: 10px;
  width: 100%;
}

.job-title {
  grid-column: 1 / -1;
  font-size: 1.5rem;
  font-weight: bold;
  margin: 0 0 10px 0;
  color: #bdbdbd;
}
.job-company {
  grid-column: 1 / 2;
  font-weight: 600;
  color: cadetblue;
}

.job-location {
  grid-column: 2 / 3;
  font-style: italic;
  color: floralwhite;
}
.job-salary {
  grid-column: 1 / 2;
  color: chartreuse;
  font-weight: 600;
}

.job-type {
  grid-column: 2 / 3;
  color: darkorange;
  font-weight: 600;
}

.job-form {
  display: none;
}

.job-description {
  grid-column: 1 / -1;
  margin-top: 10px;
  color: #bdbdbd;
}

.job-apply {
  padding: 5px 10px;
  background-color: #5d5d5d;
  color: white;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
  margin-top: 5px;
}

.job-apply:hover {
  background-color: #535252;
}

.navlinks a {
  text-decoration: none;
  border-radius: 5px;
  padding: 15px 40px;
  background-color: #5d5d5d;
  color: white;
  letter-spacing: 1px;
  font-weight: 700;
}

#signout {
  display: none;
}

#signout:hover {
  background-color: #515050;
  color: white;
}

#profile {
  display: none;
}

#profile:hover {
  background-color: #515050;
  color: white;
}

.signin {
  margin-right: 5px;
}

.signin:hover {
  background-color: #515050;
  color: white;
}

.register:hover {
  background-color: #515050;
  color: white;
}

.main-content {
  /* background-color: #f0f3f4; */
  background-color: #2d2d2d;
  display: flex;
  flex-direction: column;
  gap: 15px;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.search-container {
  width: 40%;
  display: flex;
  position: relative;
  margin-top: 10px;
  padding-top: 25px;
}

.search-bar {
  padding: 5px 20px;
  width: 100%;
  background-color: #464646;
  color: floralwhite;
  /* border: 1px solid #727272; */
}

.search-bar:focus {
  outline: none;
}

.search-button {
  border: none;
  padding: 10px 40px;
  font-size: 1rem;
  background-color: #727272;
  color: white;
  /* border-top-right-radius: 10px;
  border-bottom-right-radius: 10px; */
}

.search-button:hover {
  background-color: #606060;
  cursor: pointer;
}

.search-item {
  display: none;
  position: absolute;
  top: 100%;
  list-style: none;
  background-color: #464646;
  border-radius: 0;
  color: floralwhite;
}

.search-list {
  padding: 10px;
  cursor: pointer;
  font-size: 1rem;
}

.branding-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.branding {
  line-height: 2rem;
  color: #727272;
  text-align: center;
  width: 75%;
}

.branding-span {
  font-weight: bold;
}

/* middle container styling */

.middle-container {
  width: 80%;
  height: 100%;
  padding: 20px;
}

.company {
  margin-bottom: 1rem;
  color: #727272;
  font-size: 1.5rem;
}

.card-middle {
  display: flex;
  justify-content: space-evenly;
  gap: 15px;
  height: 80%;
}

.company-card {
  background-color: white;
  width: 20%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  box-shadow: 0 0 40px rgba(0, 0, 0, 0.1);
}

.company-card:hover {
  background-color: rgb(202, 202, 202);
}

/* bottom container styling */

.bottom-container {
  height: 100%;
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
  padding: 20px;
}

.services {
  align-self: flex-start;
  color: #727272;
  margin-bottom: 1rem;
  font-size: 1.5rem;
}

.service-cards {
  display: flex;
  width: 100%;
  gap: 20px;
  justify-content: space-evenly;
}

.card {
  background-color: white;
  width: 25%;
  display: flex;
  flex-direction: column;
  padding: 20px;
  text-align: center;
  border-radius: 5px;
}

.card h3 {
  border-bottom: 2px solid black;
  padding-bottom: 10px;
  margin-bottom: 25px;
  letter-spacing: 0.5px;
  color: #727272;
}

.card-text {
  flex-grow: 1;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  /* font-size: 1.2vw; */
  letter-spacing: 0.5px;
  color: #727272;
}

.footer-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}
.footer-title {
  font-size: 2rem;
  text-align: center;
}

.policy-container {
  display: flex;
  justify-content: space-around;
  width: 50%;
}

.footer-bottom {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.language {
  width: 33%;
}

.social-links {
  width: 33%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
}

.copyright {
  width: 33%;
}

/* mobile styling */

@media (max-width: 768px) {
  header {
    width: 100%;
    display: block;
  }

  nav {
    width: 100% !important;
  }

  .title {
    font-size: 1.5rem;
  }

  .navlinks a {
    padding: 5px 10px;
    border-radius: 3px;
  }

  .main-content {
    padding: 0 15px 10px 15px;
    gap: 0;
  }

  .search-container {
    width: 100%;
    margin-top: 0;
  }

  .search-button {
    padding: 10px 20px;
  }

  .searched-jobs {
    margin-top: 15px;
  }

  .display-result,
  .display-all-jobs {
    width: 100% !important;
  }

  .job-card {
    gap: 5px 20px;
  }

  #job-application {
    width: 90%;
  }

  .policy-container {
    flex-direction: column;
    gap: 10px;
  }

  .footer-bottom {
    flex-direction: column;
    gap: 10px;
  }

  .copyright {
    width: 100%;
  }
}
