/* layout styling */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

body {
  min-height: 100vh;
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-template-areas:
    "navbar mainbar"
    "sidebar mainbar"
    "sidebar mainbar";
  gap: 20px;
  padding: 20px;
}

header {
  grid-area: navbar;
}

aside {
  grid-area: sidebar;
  width: 100%;
  height: 100%;
  background-color: #f3f5f2;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 50px;
}

main {
  grid-area: mainbar;
}

/* header styling */
header {
  height: 100%;
  background-color: aqua;
}

nav {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  gap: 10px;
  font-weight: bold;
}

.title {
  font-size: 2vw;
}

.navlinks a {
  text-decoration: none;
  color: black;
}

.login {
  padding-right: 5px;
  border-right: 2px solid black;
}

/*aside bar style*/

.aside-contents {
  display: flex;
  height: 100%;
}

.aside-header {
  margin-bottom: 5px;
  padding-bottom: 10px;
  border-bottom: 2px solid #6f6f6f;
}

.link-list {
  list-style: none;
  height: 100%;
}

aside li {
  margin-bottom: 15px;
  background-color: white;
  padding: 10px;
  height: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 5px;
}

aside a {
  display: block;
  margin-bottom: 5px;
  text-decoration: none;
  color: black;
}

.socials {
  display: flex;
  justify-content: center;
  gap: 20px;
}

/* mainbar styling */

main {
  background-color: #f3f5f2;
}
