* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  background-color: #f3f4f6;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  width: 100%; /* w-full */
  max-width: 28rem; /* max-w-md (448px) */
  margin-left: auto; /* mx-auto */
  margin-right: auto;
  background-color: #ffffff; /* bg-white */
  padding: 2rem; /* p-8 (32px) */
  display: flex; /* flex */
  flex-direction: column; /* flex-col */
  justify-content: center; /* justify-center */
}

.input-group {
  display: flex;
  flex-direction: column;
}

.header {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 1rem;
  height: 50px;
}

.back {
  background-color: transparent;
  border: none;
  font-size: 3vw;
  cursor: pointer;
}

h1 {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  color: #646464;
  font-size: 2rem;
  pointer-events: none;
}

#email {
  margin-bottom: 15px;
}

label {
  color: #646464;
  margin-bottom: 8px;
}

.btn {
  width: 100%;
  padding: 12px;
  background-color: #60a5fa;
  color: white;
  border: none;
  font-weight: bold;
  font-size: 1.55vw;
  border-radius: 10px;
  cursor: pointer;
  margin-bottom: 18px;
}

.btn:hover {
  background-color: rgb(67, 100, 161);
}
.not-registered {
  text-align: center;
}

#sign-up {
  text-decoration: none;
  font-weight: bold;
  color: #60a5fa;
}

.not-registered {
  color: #646464;
}

input {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid black;
  margin-bottom: 0.5rem;
}

.forgot-password {
  margin: 10px 0 8px 0;
  text-decoration: none;
  color: #316cb4;
}

@media (max-width: 768px) {
  body {
    padding: 20px;
  }
  .container {
    width: 100%;
    padding: 50px 20px;
  }

  h1 {
    font-size: 8vw;
  }

  .btn {
    font-size: 5vw;
  }
}
